header {
    background-color: rgb(38 53 71);
    width: 100%;
    height: 70px;
    text-align: center;
}

body {
    margin: 0;
}

main {
    margin-top: 70px;
}

#amazon-logo {
    height: 100%;
}

#container-div {
    display: flex;
}

#text-div {
    padding-left: 150px;
    font-size: 20px;
    width: 50%;
    display: inline-block;
}

#img-div {
    display: inline-block;
}

.smartwatch-img {
    width: 200px;
    height: 300px;
    padding-left: 300px;
    padding-top: 75px;
}

.button {
    width: 50px; 
    height: 50px; 
    border-radius: 20px;
    display: inline-block;
    margin-right: 20px;
}

